/*
    Alex Mazzarese
    Homework 6 (CSS File)
    GUI Programming I (Sec 021)
    Start Date: 8/1/20
    End Date: 8/5/20
*/

.error {
  font-weight: bold;
}

body {
  background: brown;
  margin: auto;
}

h1 {
  padding-top: 20px;
  color: white;
  text-weight: bold;
  text-align: left;
  padding-left: 150px;
}

form {
  height: 250px;
}

label {
  color: white;
}

td:first-child{
  background-color: red;
  color: black;
  font-weight: bold;
}

tr:first-child > td{
  background-color: red;
  color: black;
  font-weight: bold;
}

.tableForm {
  background: red;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 20px 20px 20px;
}

#table_container{
  margin-top: 20px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}
